.button {
    background-color: rgb(101, 101, 101);
    text-align: center;
    width: 2rem;
    padding: 2rem;
    color: #FFFFFF;
    cursor: pointer;
}

.center {
    background-color: rgb(243, 240, 240);
}

.button:hover {
    background-color: rgb(175, 174, 174);
}

.button:active {
    background-color: rgb(144, 194, 238);
}